# Dependencies
node_modules
.pnpm-store

# Build
dist
out
build
release

# Cache
.turbo
cache
.DS_Store

# Environment
.env
.env.local

# Database
*.db
*.sqlite
apps/server/data/*.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
apps/server/server.log
*.log

# Desktop
apps/desktop/release
apps/desktop/dist

# iOS
apps/ios/HomeFlix/HomeFlix.xcodeproj/project.xcworkspace/xcuserdata

# Media & Temp
apps/server/media/
test_stream_output.mp4
test_media/
